<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Digital Connect</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <form action="#">
        <p id="error"></p>
        <div class="input-group">
            <label for="username">Username / Email</label>
            <input type="text" name="username" id="username" placeholder="user@name.com">
        </div>
        <div class="input-group">
            <label for="psw">Mot de passe</label>
            <input type="password" name="psw" id="psw" placeholder="*********">
        </div>
        <input type="button" value="Submit" onclick="submi()">
    </form>
    <script src="/js/script.js"></script>
</body>

</html>